/*
Theme Name: Capital P
Theme URI: https://github.com/fumikito/capialp
Author: Capital P
Author URI: https://capitalp.jp/
Description: A WordPress theme for Capital P
Version: 1.0.0
Template: twentyseventeen
License: MIT
License URI: https://opensource.org/licenses/MIT
*/
