@mixin bubble-size( $size ){
  &-meta{
    width: $size;
  }
  &-content{
    .guest &{
      margin-right: $size + 10;
    }
    .main & {
      margin-left: $size + 10;
    }
  }
}

.bubble{
  margin: 40px 0 10px;
  position: relative;
  @include bubble-size(60px);
  &-meta{
    position: absolute;
    text-align: center;
    top: 0;
    .guest &{
      right: 0;
    }
    .main &{
      left: 0;
    }
  }
  &-link{
    box-shadow: none !important;
    transition: opacity .3s linear;
    &:link, &:visited{
      text-decoration: none;
      border-bottom: none;
    }
    &:hover, &:active{
      text-decoration: none;
      border-bottom: none;
      opacity: .6;
    }
  }
  &-avatar{
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 50%;
  }
  &-name{
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  &-content{
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 3px;
    min-height: 60px;
    p{
      margin: 0;
    }
    .guest &{
      background-color: #4081FF;
      color: #fff;
    }
    @each $var in (
                    (2 #3B5998 #fff),
                    (3 #5e5e5e #fff),
                    (4 #34916d #fff),
                    (5 #a5383b #fff)
    ) {
      $index: nth($var, 1);
      $bg: nth($var, 2);
      $color: nth($var, 3);
      .guest[data-author-index="#{$index}"] &{
        background-color: $bg;
        color: $color;
      }
    }
    .main &{
      background-color: #f9f9f9;
    }
  }
  // For narrow screen
  @media only screen and (max-width: 768px) {
    @include bubble-size(30px);
    &-content{
      font-size: 14px;
    }
  }
}

%successive-bubble{
  margin: 10px 0;
  .bubble{
    &-name{
      display: none;
    }
    &-avatar{
      opacity: 0;
    }
  }
}

@for $index from 0 through 5 {
  .bubble[data-author-index="#{$index}"]{
    & + & {
      @extend %successive-bubble;
    }
  }
}
