.site-content{
  position: relative;
}
.cappy-lang-switcher{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  div{
    padding: 1em;
    background: $notice-color;
    color: #fff;
  }
  p{
    text-align: center;
    margin: 0;
    line-height: 1.1;
    font-size: 12px;
    font-family: Consolas, Osaka, monospace;
  }

  a{
    padding-bottom: 1px;
    transition: border-width .2s linear;
    &:link, &:visited{
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid #fff;
    }
    &:hover, &:active{
      color: #fff;
      text-decoration: none;
      border-bottom-width: 4px;
    }
  }

}

.for_en, .for_jp{
  display: none;
}

@keyframes blink-footer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.english-user,
.japanese-user{
  animation: blink-footer 5s linear 1 alternate;
}
.english-user .for_en{
  display: block;
}
.japanese-user .for_jp{
  display: block;
}
