$ofuse-color: #21759B;

%cappy{
  padding: 150px 10px 10px;
  background: $ofuse-color url( '../img/dog-blue.png' ) center 20px no-repeat;
  -webkit-background-size: 120px;
  background-size: 120px;
  color: #fff;
}

.ofuse{
  &-success{
    @extend %cappy;
    &-list{
      font-weight: bold;
      padding-left: 1.5em;
      li{
        margin: 5px 0;
        list-style: outside decimal;
        a:link, a:visited{
          color: #fff;
          text-decoration: underline;
          box-shadow: none !important;
        }
        a:hover, a:active{
          color: red;
          text-decoration: underline;
          box-shadow: none !important;
        }
      }
    }
  }
  &-instruction {
    margin: 0.5em 0;
    @extend %cappy;
    &-text{
      margin: 0;
      font-weight: bold;
    }
  }
  &-login, &-form{
    text-align: center;
  }
  &-form{
    margin: 10px 0;
    &-input{
      margin-bottom: 10px;
    }
  }
  &-button{
    transition: color .5s linear, background-color .5s linear;
    margin: 1em 0 0.5em;
    padding: 0.5em;
    text-decoration: none;
    box-shadow: none !important;
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    background: $ofuse-color;
    &:hover{
      color: $ofuse-color !important;
      background: #fff;
    }
  }
}