body{
  font-variant-ligatures: none;
}

$too-small-column: 767px;
$notice-hover-color: #ff5e6d;
$notice-color: darken( $notice-hover-color, 10 );

@import "components/ad";
@import "components/author";
@import "components/bubble";
@import "components/calendar";
@import "components/card";
@import "components/contributor";
@import "components/form";
@import "components/job";
@import "components/language";
@import "components/login";
@import "components/members";
@import "components/notation";
@import "components/ofuse";
@import "components/poll";
@import "components/post_style";
@import "components/testimonial";
